{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Web</h1>
    {{ form_start(editWebForm) }}
    <div class="form">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            {{ form_widget(editWebForm.name,{
                'attr': {'class': 'form-control', 'placeholder': 'Name'}
            }) }}
        </div>
        <div class="formError">
            {{ form_errors(editWebForm.name) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
            {{ form_widget(editWebForm.domain,{
                'attr': {'class': 'form-control', 'placeholder': 'Domain'}
            }) }}
        </div>
        <div class="formError">
            {{ form_errors(editWebForm.domain) }}
        </div>
        {{ form_row(editWebForm.active,{
            'label_attr': {'class': 'newFormLabel'}
        }) }}

        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    {{ form_end(editWebForm) }}


{% endblock %}