{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="newWeb col-md-6 col-sm-8 col-12">
            <h1>new Web</h1>
            {{ form_start(webForm) }}
                {{ form_row(webForm.name,{
                    'label_attr': {'class': 'newFormLabel'}
                }) }}

                {{ form_row(webForm.domain,{
                    'label_attr': {'class': 'newFormLabel'}
                }) }}

                {{ form_row(webForm.active,{
                    'label_attr': {'class': 'newFormLabel'}
                }) }}

               {# {{ form_widget(webForm) }}#}
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(webForm) }}
        </div>
    </div>

{% endblock %}